.statistics {
    width: 250px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
}

.title {
    width: 100%;
    text-align: center;
}
